/* Color Variables */
$dark_tan: #726659
$dark_tan_rgb: 114, 102, 89
$light_grey: #999187
$light_tan: #C2B59B

/* Style Variables */
$arial_family: Arial, Helvetica
$chunk_family: Chunk, Arial, Helvetica

/* Style Functions */
@mixin border_image
  -moz-border-image: url('/images/border_img.gif') 20 0 repeat repeat
  -webkit-border-image:url('/images/border_img.gif') 2 0 repeat repeat
  -khtml-border-image: url('/images/border_img.gif') 20 10 repeat repeat
  -o-border-image: url('/images/border_img.gif') 20 10 repeat repeat
  border-image: url('/images/border_img.gif') 25 0 repeat repeat

@mixin text_clip
  -moz-background-clip: text
  -webkit-background-clip: text
  background-clip: text
  
@font-face
  font-family: 'Chunk'
  src: url(/fonts/Chunk.otf)

/* General Styles */

html, body
  height: 100%
  margin: 0
  padding: 0
  background: url(/images/lgrey092.gif)

a
  color: $light_grey
  text-decoration: none
  &:visited
    color: $light_grey
  &:hover
    color: $light_grey
  

hr
  height: 3px
  color: $dark_tan
  background-color: $dark_tan
  width: 100%
  margin: 3px 0


/* General div styles */
.left
  float: left

.right
  float: right

.clear
  clear: both

.inset_shadow_dark_tan
  background-color: #222
  @include text_clip
  color: transparent
  text-shadow: rgba(114, 102, 89, 1.0) 0px 3px 3px
  //color: $dark_tan
  //opacity: .5

.inset_shadow_light_tan
  background-color: #222
  @include text_clip
  color: transparent
  text-shadow: rgba(194, 181, 155, 1.0) 0px 3px 3px

.light_tan
  color: $light_tan

.section_text
  font-family: $chunk_family

/* div styles */
.header
  height: 90px
  background: black
  color: $light_grey
  .header_container
    width: 900px
    margin: 0 auto
    #logo
      margin-top: 45px
    #nav
      list-style-type: none
      margin: 45px 0 0 0 
      height: 42px
      line-height: 65px
      font-size: .9em
      font-family: $arial_family
      li
        display: inline
        margin: 0 40px

.content
  width: 900px
  margin: 0 auto
  //border-width: 4px 0
  //@include border_image
  #what_we_do
    margin-top: 50px
    //border: 3px solid #333
    padding: 20px 16px
    font-size: 57px
    .second_row
      font-size: 58px
    .third_row
      font-size: 63px
    //text-shadow: 0px 3px 3px black
    

  


