/* Color Variables */
/* General Styles */
/* line 6, sass/screen.sass */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 12, sass/screen.sass */
hr {
  height: 3px;
  color: #726659;
  background-color: #726659;
  width: 100%;
  margin: 3px 0;
}

/* General div styles */
/* line 20, sass/screen.sass */
.left {
  float: left;
}

/* line 23, sass/screen.sass */
.right {
  float: right;
}

/* div styles */
/* line 27, sass/screen.sass */
.header {
  height: 90px;
  background: black;
}
/* line 30, sass/screen.sass */
.header .header_container {
  width: 900px;
  margin: 0 auto;
}
/* line 33, sass/screen.sass */
.header .header_container #logo {
  background: white;
}
