#what_we_do
  %span.inset_shadow_dark_tan.section_text GRAPHIC DESIGN
  %span.inset_shadow_light_tan.section_text BRANDING
  %br
  %span.inset_shadow_light_tan.section_text.second_row WEB DESIGN
  %span.inset_shadow_dark_tan.section_text.second_row ILLUSTRATION
  %br
  %span.inset_shadow_dark_tan.section_text.third_row VIDEO
  %span.inset_shadow_light_tan.section_text.third_row MOTION GRAPHICS